@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --thm-font: 'Catamaran', sans-serif;
  --thm-font-2: 'Caveat', cursive;
 
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.underline-animation {
  position: relative;
  text-decoration: none;
}

.underline-animation::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px; /* Adjust the underline height as needed */
  bottom: 0;
  left: 0;
  background-color: #3490dc; /* Adjust the underline color as needed */
  transform: scaleX(0);
  transform-origin: bottom right left;
  transition: transform 0.3s ease-in-out;
}

.underline-animation:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.font-family-1{
  font-family: var(--thm-font);
}

.font-family-2{
  font-family: var(--thm-font-2);
}

.rotated-y {
  animation: rotateY 2s linear; /* Apply the animation without the 'infinite' keyword */
}

/* Define the keyframes for the animation */
@keyframes rotateY {
  0% {
      transform: rotateX(-90deg); /* Start rotation angle */
  }
  100% {
      transform: rotateX(0deg); /* End rotation angle (180 degrees for one half rotation) */
  }
}